.bg-grey {
  background-color: #f6f6f6;
}
body, html {
    height: 100%;
    margin: 0;
}
.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/admin-background.jpg");
}
.btn {
  background-color: #192A6C;
}
.btn:hover, btn:active {
  background-color: #fff;
	color: #192A6C;
}

h1, h2, h3, h4, h5 {
	color: #1c2c67;
}

label {
	color: #1c2c67;
}
