

.bg {
   /* background-image:  url("../img/uon.jpg"); */
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
/* Main */

/* Banner*/
#banner {


    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-color: #192A6C;
    border-top: 0;
    /* this is to change the banner size*/
    min-height: 25vh;
    height: 25vh !important;

    position: relative;
    text-align: center;
    overflow: hidden;
    padding-bottom: 10px;
  }

.col-sm-4 {
  padding-top: 10px;
}

/* Thumbnail*/
.thumbnail {
  padding: 0px 0px 15px 0px;
  /* width: 100px; */
  border: none;
  border-radius: 0;
}
.thumbnail img {
    display: block;
    max-width: 100%;
    /* max-height: 292px; */
    /* width: 100%; */
    max-height: auto;
    padding-bottom: 10px;
    object-fit: contain
  }

.thumbnail:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.btn {
  background-color: #192A6C;
}
