

.bg-grey {
  background-color: #f6f6f6;
}
/* Main */

/* Banner*/
#banner {
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    padding: 8em 0 6em 0;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-image: url("../img/uon.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 0;
    /* this is to change the banner size*/
    min-height: 75vh;
    height: 75vh !important;
    
    position: relative;
    text-align: center;
    overflow: hidden;
    padding-bottom: 10px;
  }
  #banner .inner {
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -moz-transition: opacity 1s ease, -moz-transform 1s ease;
      -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
      -ms-transition: opacity 1s ease, -ms-transform 1s ease;
      transition: opacity 1s ease, transform 1s ease;
      opacity: 1;
      position: relative;
      z-index: 2;
    }
#banner h1 {
      font-size: 4em;
      margin-bottom: .25em;
      color:white;
    }

    #banner p {
      color: white;
      font-size: 1.5em;
    }

.col-sm-4 {
  padding-top: 10px;
}

/* Thumbnail*/
.thumbnail {
  padding: 0px 0px 15px 0px;
  /* width: 100px; */
  border: none;
  border-radius: 0;
}
.thumbnail img {
    display: block;
    max-width: 100%;
    /* max-height: 292px; */
    /* width: 100%; */
    max-height: auto;
    padding-bottom: 10px;
    object-fit: contain
  }

.thumbnail:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.btn {
  background-color: #192A6C;
}